<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.letu.healthplatform.platformmanage.sys.mapper.InviteMapper" >

  <resultMap id="BaseResultMap" type="com.letu.healthplatform.platformmanage.sys.model.Invite" >
    <id column="invite_id" property="inviteId" jdbcType="INTEGER" />
    <result column="invite_code" property="inviteCode" jdbcType="VARCHAR" />
    <result column="invite_createtime" property="inviteCreatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    invite_id, invite_code, invite_createtime
  </sql>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_invite
    where invite_id = #{inviteId,jdbcType=INTEGER}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_invite
    where invite_id = #{inviteId,jdbcType=INTEGER}
  </delete>
  
  
  <insert id="insert" parameterType="com.letu.healthplatform.platformmanage.sys.model.Invite" >
    insert into t_invite (invite_id, invite_code, invite_createtime
      )
    values (#{inviteId,jdbcType=INTEGER}, #{inviteCode,jdbcType=VARCHAR}, #{inviteCreatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  
  
  <insert id="insertSelective" parameterType="com.letu.healthplatform.platformmanage.sys.model.Invite" >
    insert into t_invite
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="inviteId != null" >
        invite_id,
      </if>
      <if test="inviteCode != null" >
        invite_code,
      </if>
      <if test="inviteCreatetime != null" >
        invite_createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="inviteId != null" >
        #{inviteId,jdbcType=INTEGER},
      </if>
      <if test="inviteCode != null" >
        #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="inviteCreatetime != null" >
        #{inviteCreatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.letu.healthplatform.platformmanage.sys.model.Invite" >
    update t_invite
    <set >
      <if test="inviteCode != null" >
        invite_code = #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="inviteCreatetime != null" >
        invite_createtime = #{inviteCreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where invite_id = #{inviteId,jdbcType=INTEGER}
  </update>
  
  
  <update id="updateByPrimaryKey" parameterType="com.letu.healthplatform.platformmanage.sys.model.Invite" >
    update t_invite
    set invite_code = #{inviteCode,jdbcType=VARCHAR},
      invite_createtime = #{inviteCreatetime,jdbcType=TIMESTAMP}
    where invite_id = #{inviteId,jdbcType=INTEGER}
  </update>
  
  
</mapper>