<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.letu.healthplatform.platformmanage.report.mapper.SiUserMapper" >
  <resultMap id="BaseResultMap" type="com.letu.healthplatform.platformmanage.report.model.SiUser" >
    <result column="t_si_id" property="tSiId" jdbcType="INTEGER" />
    <result column="t_user_id" property="tUserId" jdbcType="INTEGER" />
    <result column="t_testing_time" property="tTestingTime" jdbcType="TIMESTAMP" />
    <result column="t_si_project" property="tSiProject" jdbcType="VARCHAR" />
    <result column="t_come_number" property="tComeNumber" jdbcType="VARCHAR" />
  </resultMap>
  
  
   <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
       *
      from t_si_user
        where   1=1
      and t_si_id = #{tSiId,jdbcType=INTEGER}
  </select>
  
  <insert id="insert" parameterType="com.letu.healthplatform.platformmanage.report.model.SiUser" >
    insert into t_si_user (t_si_id, t_user_id, creat_date, 
      t_testing_time, t_si_project,t_come_number)
    values (#{tSiId,jdbcType=INTEGER}, #{tUserId,jdbcType=INTEGER}, #{creatDate,jdbcType=TIMESTAMP}, 
      #{tTestingTime,jdbcType=TIMESTAMP}, #{tSiProject,jdbcType=VARCHAR},#{tComeNumber,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.letu.healthplatform.platformmanage.report.model.SiUser" >
    insert into t_si_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tSiId != null" >
        t_si_id,
      </if>
      <if test="tUserId != null" >
        t_user_id,
      </if>
      <if test="creatDate != null" >
        creat_date,
      </if>
      <if test="tTestingTime != null" >
        t_testing_time,
      </if>
      <if test="tSiProject != null" >
        t_si_project,
      </if>
      <if test="">
        t_come_number
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tSiId != null" >
        #{tSiId,jdbcType=INTEGER},
      </if>
      <if test="tUserId != null" >
        #{tUserId,jdbcType=INTEGER},
      </if>
      <if test="creatDate != null" >
        #{creatDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tTestingTime != null" >
        #{tTestingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tSiProject != null" >
        #{tSiProject,jdbcType=VARCHAR},
      </if>
      <if test="tComeNumber!=null">
        #{tComeNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 批量写入入库 -->
   <insert id="insertBatch"  parameterType="java.util.List" >
     insert into t_si_user (t_si_id,t_user_id,  
      t_testing_time, t_si_project,t_come_number) values 
     <foreach collection ="list" item="siuser" index="index" separator =",">
      	( #{siuser.tSiId,jdbcType=INTEGER},#{siuser.tUserId,jdbcType=INTEGER}, 
      	#{siuser.tTestingTime,jdbcType=TIMESTAMP},#{siuser.tSiProject,jdbcType=VARCHAR},
      	#{siuser.tComeNumber,jdbcType=VARCHAR})
     </foreach >
  </insert>
  
  <delete id="deleteByPrimaryKey">
  	  delete from t_si_user 
      	 where t_si_id  =${tId}
  </delete>
  
  
  <delete id="deleteBatch" parameterType="java.util.List">
    delete from t_si_user 
      where t_si_id  in 
         <foreach item="siuser" index="index" collection="list" 
                open="(" separator="," close=")">
               #{siuser.tSiId}
         </foreach>
  </delete>
  
  
  
  <update id="updateUserLogistics" parameterType="com.letu.healthplatform.platformmanage.report.model.SiUser" >
    update t_si_user
    <set >
      <if test="tReportStatus != null" >
        t_report_status = #{tReportStatus},
      </if>
      <if test="tReportTime != null" >
        t_report_time = #{tReportTime},
      </if>
      <if test="tLogistics != null" >
        t_logistics = #{tLogistics},
      </if>
      <if test="tLogisticsNumber != null" >
        t_logistics_number = #{tLogisticsNumber},
      </if>
    </set>
    where t_si_id = #{tSiId}
     <if test="tUserId != null" >
       and t_user_id = #{tUserId}
      </if>
  </update>
</mapper>