<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe616;</i> 首页管理
			    <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="picture-list.html" data-title="轮翻图" href="javascript:void(0)">轮翻图</a></li>
					<li><a data-href="picture-list.html" data-title="套餐" href="javascript:void(0)">套餐</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 商品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="product-brand.html" data-title="商品类型" href="javascript:void(0)">商品类型</a></li>
					<li><a data-href="product-category.html" data-title="商品发布" href="javascript:void(0)">商品发布</a></li>
					<li><a data-href="product-list.html" data-title="商品上架" href="javascript:void(0)">商品上架</a></li>
					<li><a data-href="product-list.html" data-title="商品下架" href="javascript:void(0)">商品下架</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-orders">
			<dt><i class="Hui-iconfont">&#xe622;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="http://h-ui.duoshuo.com/admin/" data-title="未付款" href="javascript:;">未付款</a></li>
					<li><a data-href="feedback-list.html" data-title="已付款" href="javascript:void(0)">已付款</a></li>
					<li><a data-href="feedback-list.html" data-title="退款" href="javascript:void(0)">退款</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-delivery">
			<dt><i class="Hui-iconfont">&#xe622;</i> 配送管 <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="http://h-ui.duoshuo.com/admin/" data-title="未付款" href="javascript:;">发货管理</a></li>
					<li><a data-href="feedback-list.html" data-title="已付款" href="javascript:void(0)">回寄管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-detection">
			<dt><i class="Hui-iconfont">&#xe622;</i> 检测管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="http://h-ui.duoshuo.com/admin/" data-title="检测录入" href="javascript:;">检测录入</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-report">
			<dt><i class="Hui-iconfont">&#xe622;</i> 报告管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="http://h-ui.duoshuo.com/admin/" data-title="报告审核" href="javascript:;">报告审核</a></li>
					<li><a data-href="http://h-ui.duoshuo.com/admin/" data-title="报告查看" href="javascript:;">报告查看</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 注册用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="member-list.html" data-title="用户列表" href="javascript:;">用户列表</a></li>
					<li><a data-href="member-level.html" data-title="检测人管理" href="javascript:;">检测人管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe613;</i> 健康资讯发布<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="article-list.html" data-title="资讯发布" href="javascript:void(0)">资讯发布</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-online-studio">
			<dt><i class="Hui-iconfont">&#xe613;</i> 在线工作室<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="article-list.html" data-title="在线视频" href="javascript:void(0)">在线视频</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-dealer">
			<dt><i class="Hui-iconfont">&#xe613;</i> 经销商管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="article-list.html" data-title="经销商列表" href="javascript:void(0)">经销商列表</a></li>
					<li><a data-href="article-list.html" data-title="我的下线" href="javascript:void(0)">我的下线</a></li>
					<li><a data-href="article-list.html" data-title="我的收益" href="javascript:void(0)">我的收益</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 后台用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="admin-list.html" data-title="用户列表" href="javascript:void(0)">用户列表</a></li>
					<li><a data-href="admin-role.html" data-title="角色列表" href="javascript:void(0)">角色列表</a></li>
					<li><a data-href="admin-permission.html" data-title="权限列表" href="javascript:void(0)">权限列表</a></li>
					<li><a data-href="hospital-list.html" data-title="医院列表" href="javascript:void(0)">医院列表</a></li>
					<li><a data-href="department-list.html" data-title="医院列表" href="javascript:void(0)">科室列表</a></li>

				</ul>
			</dd>
		</dl>
		<dl id="menu-tongji">
			<dt><i class="Hui-iconfont">&#xe61a;</i> 基础信息管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="charts-1.html" data-title="关于" href="javascript:void(0)">关于</a></li>
					<li><a data-href="charts-2.html" data-title="意见反馈" href="javascript:void(0)">意见反馈</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="system-base.html" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
					<li><a data-href="system-category.html" data-title="栏目管理" href="javascript:void(0)">栏目管理</a></li>
					<li><a data-href="system-data.html" data-title="数据字典" href="javascript:void(0)">数据字典</a></li>
					<li><a data-href="system-shielding.html" data-title="屏蔽词" href="javascript:void(0)">屏蔽词</a></li>
					<li><a data-href="system-log.html" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>